html
  head
    title GlobalWarmingSurvey
    script(src="https://cdn.jsdelivr.net/npm/chart.js")
  body
    h1#title #{city} の温暖化傾向（上：平均気温  下：最高気温）
    h2#average 平均気温の平均上昇値：#{Math.round((averageOfBaseAverageTemperatures - averageOfTargetAverageTemperatures) * 10) / 10 || "-"} ℃
    canvas#averageTemperatureChart(width="300" height="100")
    h2#highest 最高気温の平均上昇値：#{Math.round((averageOfBaseHighestTemperatures - averageOfTargetHighestTemperatures) * 10) / 10 || "-"} ℃
    canvas#highestTemperatureChart(width="300" height="100")
    script.
      const baseLabel = "#{baseYear} 年 #{month} 月";
      const targetLabel = "#{targetYear} 年 #{month} 月";
      const line = 'line'
      const averageTemperatureCtx = document.getElementById('averageTemperatureChart').getContext('2d');
      const averageTemperatureChart = new Chart(averageTemperatureCtx, {
        type: line,
        data: {
          labels: "#{label}".split(','),
          datasets: [{
            label: baseLabel,
            backgroundColor: 'rgb(0, 0, 0)',
            borderColor: 'rgb(255, 0, 0)',
            data: "#{baseAverageTemperatures}".split(','),
          },
          {
            label: targetLabel,
            backgroundColor: 'rgb(0, 0, 0)',
            borderColor: 'rgb(0, 0, 255)',
            data: "#{targetAverageTemperatures}".split(','),
          }]
        },
        options: {}
      });
      const highestTemperatureCtx = document.getElementById('highestTemperatureChart').getContext('2d');
      const highestTemperatureChart = new Chart(highestTemperatureCtx, {
        type: line,
        data: {
          labels: "#{label}".split(','),
          datasets: [{
            label: baseLabel,
            backgroundColor: 'rgb(0, 0, 0)',
            borderColor: 'rgb(255, 0, 0)',
            data: "#{baseHighestTemperatures}".split(','),
          },
          {
            label: targetLabel,
            backgroundColor: 'rgb(0, 0, 0)',
            borderColor: 'rgb(0, 0, 255)',
            data: "#{targetHighestTemperatures}".split(','),
          }]
        },
        options: {}
      });
